# Hindi Fake news detection:

## 1. Load Dataset:

In [3]:
import pandas as pd

In [6]:
df_fake = pd.read_csv('FakeNews.csv')
df_true = pd.read_csv('TrueNews.csv')

## 2. Data Preview:

In [7]:
df_fake.head()

   Column1                                  short_description
0        1   गडकरी ने नहीं दिया है पीएम मोदी और राम मंदिर ...
1        2   राम मंदिर वहीं बना है जहां रामलला विराजमान थे...
2        3   यूपी में बोर्ड की परीक्षा नहीं हुई है रद्द, य...
3        4   नेपाल से अयोध्या के जुलूस का नहीं, ये ग्रेटर ...
4        5   एमपी का सीएम बनने के बाद मोहन यादव ने दी जनता...

In [8]:
df_fake.tail()

      Column1                                  short_description
2699     2700    राजस्थान की महिला MLA की छवि खराब करने के लि...
2700     2701    मध्य प्रदेश की साल 2019 की घटना को हालिया बत...
2701     2702   खुर्जा में बोइंग का वेयरहाउस खुला, लेकिन वायर...
2702     2703   जलते हुए समुद्री जहाज का यह वीडियो 2020 का है...
2703     2704   ढांचे वाली जगह पर ही बन रहा मंदिर, तीन किलोमी...

In [9]:
df_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Column1            2704 non-null   int64
 1   short_description  2704 non-null   object
dtypes: int64(1), object(1)
memory usage: 42.4+ KB

In [10]:
df_true.head()

   Column1                                  short_description
0        1  राम मंदिर प्राण-प्रतिष्ठा: फर्श पर सोना-नारियल...
1        2  Ayodhya Ram Mandir Pran Pratishtha से पहले कठि...
2        3  8 PHOTOS:देखें रामलला की प्राण-प्रतिष्ठा से पह...
3        4  22 जनवरी को अयोध्या में कैसा रहेगा मौसम, जानें...
4        5  सोलापुर में PM की 15 बड़ी बातें, मोदी के 22 जन...

In [11]:
df_fake.tail()

      Column1                                  short_description
2699     2700    राजस्थान की महिला MLA की छवि खराब करने के लि...
2700     2701    मध्य प्रदेश की साल 2019 की घटना को हालिया बत...
2701     2702   खुर्जा में बोइंग का वेयरहाउस खुला, लेकिन वायर...
2702     2703   जलते हुए समुद्री जहाज का यह वीडियो 2020 का है...
2703     2704   ढांचे वाली जगह पर ही बन रहा मंदिर, तीन किलोमी...

In [12]:
df_true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4020 entries, 0 to 4019
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Column1            4020 non-null   int64
 1   short_description  4020 non-null   object
dtypes: int64(1), object(1)
memory usage: 62.9+ KB

In [14]:
df_fake["class"] = 0
df_true["class"] = 1

In [16]:
df_fake.shape, df_true.shape

((2704, 3), (4020, 3))

### Saving some data for manual testing:

In [17]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(2703,2693,-1):
    df_fake.drop([i],axis = 0, inplace = True)

    
df_true_manual_testing = df_true.tail(10)
for i in range(4019,4009,-1):
    df_true.drop([i],axis = 0, inplace = True)

In [18]:
df_fake.shape, df_true.shape

((2694, 3), (4010, 3))

In [20]:
df_fake_manual_testing['class'] = 0
df_true_manual_testing['class'] = 1

/var/folders/xq/1tpd_wrd2sndfp6f965rpnm00000gn/T/ipykernel_50471/1523065411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing['class'] = 0
/var/folders/xq/1tpd_wrd2sndfp6f965rpnm00000gn/T/ipykernel_50471/1523065411.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing['class'] = 1

In [22]:
df_fake_manual_testing.head(10)

      Column1                                  short_description  class
2694     2695   माचिस की तीली के पाउडर से नहीं होता बिच्छू के...      0
2695     2696   22 जनवरी को मॉरिशस सरकार नहीं दे रही सार्वजनि...      0
2696     2697    अयोध्या में पुष्पक विमान और लव-कुश के दिखने ...      0
2697     2698    पाकिस्तानी हैंडल्स ने किया भारतीय वायुसेना क...      0
2698     2699    खेसारी लाल का यह वीडियो करीब दो साल पुराना ह...      0
2699     2700    राजस्थान की महिला MLA की छवि खराब करने के लि...      0
2700     2701    मध्य प्रदेश की साल 2019 की घटना को हालिया बत...      0
2701     2702   खुर्जा में बोइंग का वेयरहाउस खुला, लेकिन वायर...      0
2702     2703   जलते हुए समुद्री जहाज का यह वीडियो 2020 का है...      0
2703     2704   ढांचे वाली जगह पर ही बन रहा मंदिर, तीन किलोमी...      0

In [23]:
df_true_manual_testing.head(10)

      Column1                                  short_description  class
4010     4011  UP Police Bharti 2024: कॉन्स्टेबल भर्ती परीक्ष...      1
4011     4012  UP Roadways Bharti: यूपी रोडवेज में कंडक्टर के...      1
4012     4013  LIVE JEE Main Admit Card 2024: जेईई मेन एडमिट ...      1
4013     4014  मंहगे होंगे टाटा के सभी पैसेंजर व्हीकल, इनपुट ...      1
4014     4015  Dark Chocolate: पीरियड्स क्रैम्प से राहत दिला ...      1
4015     4016  प्राण प्रतिष्ठा की अयोध्या से लेकर कैलिफोर्निय...      1
4016     4017  छक्का जड़ने पर मिलेंगे 12 रन... जल्द आएगा नया ...      1
4017     4018  Power Consumption: चालू वित्त वर्ष की अप्रैल-द...      1
4018     4019  Entertainment Top 5 News 21 Jan: 'फाइटर' में क...      1
4019     4020  Ram Mandir के लिए 'सालार' के मेकर्स ने तैयार क...      1

### Merging true and fake dataframes into a single data frame:

In [26]:
df_merge = pd.concat([df_fake, df_true], axis = 0)

In [28]:
df_merge.head(5), df_merge.tail(5)

(   Column1                                  short_description  class
 0        1   गडकरी ने नहीं दिया है पीएम मोदी और राम मंदिर ...      0
 1        2   राम मंदिर वहीं बना है जहां रामलला विराजमान थे...      0
 2        3   यूपी में बोर्ड की परीक्षा नहीं हुई है रद्द, य...      0
 3        4   नेपाल से अयोध्या के जुलूस का नहीं, ये ग्रेटर ...      0
 4        5   एमपी का सीएम बनने के बाद मोहन यादव ने दी जनता...      0,
       Column1                                  short_description  class
 4005     4006  फ्लाइट में लगे 'जय श्री राम' के नारे, फ्लैग लि...      1
 4006     4007  Russia-Ukraine War: रूस के कब्जे वाले यूक्रेन ...      1
 4007     4008  Ramlala Pran Pratishtha: प्राण-प्रतिष्ठा के दि...      1
 4008     4009  Vladimir Putin North Korea Visit: उत्तर कोरिया...      1
 4009     4010  School Close on 22 January: राम मंदिर उद्घाटन ...      1)

## 3. Data Cleaning:

In [29]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6704 entries, 0 to 4009
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Column1            6704 non-null   int64
 1   short_description  6704 non-null   object
 2   class              6704 non-null   int64
dtypes: int64(2), object(1)
memory usage: 209.5+ KB

In [33]:
df=df_merge.drop(['Column1'], axis = 1)

### Count missing values:

In [34]:
df.isnull().sum()

short_description    0
class                0
dtype: int64

### Randomly shuffling the dataframe:

In [35]:
df = df.sample(frac = 1)

In [36]:
df.head()

                                      short_description  class
681   राजनाथ ने नहीं किया PM मोदी से महंगाई पर सवाल,...      0
1681  कावेरी का पानी तमिलनाडु को देने पर बीजेपी सहित...      1
2535    मध्य प्रदेश की साल 2019 की घटना को हालिया बत...      0
894   17 दिन बाद पहाड़ का सीना चीर बाहर आया पहला मजद...      1
2679  Ram Mandir के लिए 'सालार' के मेकर्स ने तैयार क...      1

In [37]:
df.reset_index(inplace = True)
df.drop(['index'], axis=1, inplace=True)

In [38]:
df

                                      short_description  class
0     राजनाथ ने नहीं किया PM मोदी से महंगाई पर सवाल,...      0
1     कावेरी का पानी तमिलनाडु को देने पर बीजेपी सहित...      1
2       मध्य प्रदेश की साल 2019 की घटना को हालिया बत...      0
3     17 दिन बाद पहाड़ का सीना चीर बाहर आया पहला मजद...      1
4     Ram Mandir के लिए 'सालार' के मेकर्स ने तैयार क...      1
...                                                 ...    ...
6699   थाईलैंड किंग Rama V के समय पाए जाने वाले रहस्...      0
6700  आंध्र प्रदेश के पूर्व सीएम चंद्रबाबू नायडू गिर...      1
6701  राम मंदिर प्राण-प्रतिष्ठा: मंदिर परिसर में प्र...      1
6702  प्राण प्रतिष्ठा की अयोध्या से लेकर कैलिफोर्निय...      1
6703  सामने आए संसद में हड़कंप मचाने वाले दोनों युवक...      1

[6704 rows x 2 columns]

## 4. Preprocessing Text:

### Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.

In [ ]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub("\\W"," ",text)
    text = re.sub('https?://\S+|www\.\S+','',text)
    text = re.sub('<.*?>+',b'',text)
    text = re.sub('[%s]' % re.escape(string.punctuation),'',text)
    text = re.sub('\w*\d\w*','',text)
    return text